
<div id="adminCake">
	 <table class="table table-hover">
    <thead>
      <tr>
        <th id="th02">Name</th>
        <th id="th03">Old Price</th>
        <th id="th04">New Price</th>
        <th id="th05">Category</th>
        <th id="th06">Image</th>
		<th id="th07" colspan="3">Role</th>

      </tr>
    </thead>
    <tbody>
		{{#each cake}}
      	<tr>
        	<td>{{nameCake}}</td>
            <td>{{oldPrice}}</td>
            <td>{{newPrice}}</td>
            <td>{{cakeCategory.nameCategory}}</td>
            <td ><img src="{{image}}" style="width: 100px;height: 80px"></td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalAddCake">
				<span class="fa fa-plus-square" aria-hidden="true"></span> Add </a>
			</td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalDeleteCake" onclick="Delete(`{{id}}`)">
				<span class="fa fa-window-close" aria-hidden="true"></span> Delete </a>
			</td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalEditCake" onclick="Edit(`{{nameCake}},{{oldPrice}},{{newPrice}},{{image}},{{cakeCategory.nameCategory}},{{id}}`)">
				<span class="fa fa-edit" aria-hidden="true"></span> Edit </a>
			</td>
      	</tr>
		{{/each}}
    </tbody>
  </table>
</diV>

{{!-- Model Add --}}
<div class="modal fade" id="myModalAddCake" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Add category </h3>
						
						<form action="/admin/addCake" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Name Cake" name="nameCake" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Old Price" name="oldPrice" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="New Price" name="newPrice" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<select id="agileinfo-nav_search" name="select_Category" required="">
								{{#each cakeCategory}}
									<option value="{{nameCategory}}">{{nameCategory}}</option>
								{{/each}}
								</select>
							</div>
							<hr>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Image" name="image" required="">
							</div>
							<input type="submit" value="Add">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
</div>
{{!-- Model Delete --}}
<div class="modal fade" id="myModalDeleteCake" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Are you sure delete cake ? </h3>
						
						<form action="/admin/deleteCake" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input hidden="true" type="text" placeholder="Name Cake" id="idCake" name="idCake" required="">
							</div>
							<input type="submit" value="Delete">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
</div>
{{!-- Model Edit --}}
<div class="modal fade" id="myModalEditCake" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Edit category </h3>
						
						<form action="/admin/editCake" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Name Cake" id="nameCake_edit" name="nameCake" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Old Price" id="oldPrice_edit" name="oldPrice" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="New Price" id="newPrice_edit" name="newPrice" required="">
							</div>
							{{!-- <div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Category" name="category" required="">
							</div> --}}
							<div class="dropdown styled-input agile-styled-input-top">
								<select id="agileinfo-nav_search_1" name="select_Category_1" required="">
									{{#each cakeCategory}}
										<option value="{{nameCategory}}">{{nameCategory}}</option>
									{{/each}}
								</select>
							</div>
							<hr>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Image" id="image_edit" name="image" required="">
							</div>
							<div class="styled-input agile-styled-input-top">
								<input hidden="true" type="text" placeholder="Id Cake" id="idCake_edit" name="idCake" required="">
							</div>
							<input type="submit" value="Edit">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
</div>

{{!-- script --}}
<script>
	let id,x;
	function Delete(id){
		console.log(id);
		document.getElementById("idCake").value = id;
	}
	function Edit(x){
		let arr=x.split(',');
		document.getElementById('nameCake_edit').value=arr[0];
		document.getElementById('oldPrice_edit').value=arr[1];
		document.getElementById('newPrice_edit').value=arr[2];
		document.getElementById('image_edit').value=arr[3];
		document.getElementById("agileinfo-nav_search_1").value=arr[4];
		document.getElementById('idCake_edit').value=arr[5];
	}

</script>