
<div class="row" id="adminCategory">
	 <table class="table table-hover">
    <thead>
      <tr>
        <th id="th01">#</th>
        <th id="th02">Category</th>
		<th id="th03" colspan="3">Role</th>

      </tr>
    </thead>
    <tbody>
		{{#each cakeCategory}}
      	<tr>
        	<td>{{stt}}</td>
        	<td>{{nameCategory}}</td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalAddCategory">
				<span class="fa fa-plus-square" aria-hidden="true"></span> Add </a>
			</td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalDeleteCategory" onclick="Delete('{{id}}')">
				<span class="fa fa-trash" aria-hidden="true"></span> Delete </a>
			</td>
			<td style="width: 50px">
				<a href="#" data-toggle="modal" data-target="#myModalEditCategory" onclick="Edit(`{{nameCategory}},{{id}}`)">
				<span class="fa fa-edit" aria-hidden="true"></span> Edit </a>
			</td>
      	</tr>
		{{/each}}
    </tbody>
  </table>
</diV>

{{!-- Model Add --}}
<div class="modal fade" id="myModalAddCategory" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Add category </h3>
						
						<form action="/admin/category" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Name Category" name="nameCategory" required="">
							</div>
							<input type="submit" value="Add">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
</div>
{{!-- Delete --}}
<div class="modal fade" id="myModalDeleteCategory" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Are you sure delete category? </h3>
						<form action="/admin/deleteCategory" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input hidden="true" type="text" placeholder="Name Category" id="idCategory" name="idCategory" required="">
							</div>
							<input type="submit"  value="OK">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
</div>
{{!-- Model Edit --}}
<div class="modal fade" id="myModalEditCategory" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Edit category </h3>
						
						<form action="/admin/editCategory" method="POST">
							<div class="styled-input agile-styled-input-top">
								<input type="text" id="nameCategory" placeholder="Name Category" name="nameCategory" required="">
							</div>
								<input hidden="true" type="text" id="id1Category" name="id1Category" required="">
							<input type="submit" value="Edit">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>

</div>
{{!-- test --}}

{{!-- script --}}
<script>
	let x,id;
	function Delete(x){
		document.getElementById("idCategory").value = x;
	}
	function Edit(x){
		let arr=x.split(',');
		console.log(arr[1]);
		document.getElementById("nameCategory").value=arr[0];
		document.getElementById("id1Category").value=arr[1];
	}

</script>