<div class="container">
    {{#if login}}
    <h3>----Thông Tin Cá Nhân----</h3>
    <form action="/user/edit" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Style</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <input type="text" value="{{data.name}}" name="name">
                    </th>
                    <td>
                        {{data.username}}
                        <input hidden="true" type="text" value="{{data.id}}" name="id">
                    </td>
                    <td>
                        <input type="text" value="{{data.phone}}" name="phone">
                    </td>
                    <td>
                        <input type="email" value="{{data.email}}" name="email">
                    </td>
                    {{#eq styleAccount '0'}}
		                <td>Khách Hàng</td>
	                {{/eq}} 
                     {{#eq styleAccount '1'}}
		                <td>Admin</td>
	                {{/eq}} 
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Edit">
    </form>
    {{/if}}
</div>